---
import CardBook from "@/components/CardBook.astro";
import type { Doc } from "@/types";

interface Props {
  books: Doc[];
  className?: string;
  showDetails?: boolean;
}

const { books, className, showDetails } = Astro.props;
---
<div class=`grid gap-4 ${className}`>
  <slot name="header"/>
  {
    books.map(({ author_name, cover_i, first_publish_year,isbn,number_of_pages_median,subject,title }) => (
      <CardBook
        authors={author_name}
        genres={subject}
        image={cover_i}
        pagesNumber={number_of_pages_median}
        title={title}
        year={first_publish_year}
        showDetails={showDetails}
      />
    ))
  }
</div>